$bg_brown_color:#43240C;
$bg_base_color:#FEE44E;
$bg_blue_color:#324057;
// 文本
$font_grey_color:#949494;




* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    outline: 0;
    background: transparent;
}

html,
body,
#app {
    height: 100%;
}

.home--header {
    background-color: $bg_blue_color;
    color: $font_grey_color;
    line-height: 60px;
    position: relative;
}

/* 头部标题 */

.el-header .shoptitle {
    /* 绝对定位 */
    position: absolute;
    top: 8px;
    right: 45%;
    /* 字间距 */
    letter-spacing: 3px;
    color: $font_grey_color;
    font: 700 30px "Helvetica Neue";
}

/* 侧边栏 */

.el-container .el-aside {
    background-color: #eaedf1;
    /* 裁剪内容，提供滚动机制 */
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 5px;
}

/* 欢迎您:某某角色某某用户先生/女士的样式 */

.home--header a {
    right: 115px;
    top: 18px;
    position: absolute;
    font: 700 19px '楷书';
}

/* 头像 */

.icon {
    width: 100px;
    height: 45px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-top: 8px;
}

.el-container .el-main {
    background-color: #eaedf1;
}

/* 一级菜单文字 */

.submenu-span {
    font-size: 18px;
}

.submenu-span:hover {
    color: #337DC4;
}

/* 二级菜单文字 */

.menu-item span {
    font-size: 16px;
}

/* 折叠与展开的图标的位置 */

.iscollapse {
    /* 绝对定位 */
    position: absolute;
    top: 11px;
    left: 12px;
}

/* 折叠与展开的图标的大小、颜色 */

.iscollapse i {
    font-size: 35px;
    color: #003E7D;
}

/* tag导航页 */

.el-tag {
    margin: 0 8px 20px;
}

/* 面包屑导航 */

.el-breadcrumb {
    margin-bottom: 20px;
    font-size: 18px;
}

/* 卡片视图*/

.box-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    width: 100%;
    height: 526px;
    overflow-y: scroll;
}

/* 添加功能的卡片视图 */

.add-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    width: 100%;
    height: 526px;
    overflow-y: scroll;
}

/* 页头 */

.el-page-header {
    margin-bottom: 20px;
}

/* 搜索框 */

.box-searchRow {
    position: relative;
    margin-top: 6px;
}

/* 文字：条件查询 */

.condition {
    margin-top: 7.5px
}

/* 表格 */

.el-table {
    margin-top: 20px;
}

.box-table {
    margin-top: 35px;
}

.menu-table {
    margin-top: 10px;
}

/* 分页 */

.el-pagination {
    margin-top: 35px;
}

/* 表单 */

.el-form-item {
    /* 不换行 */
    white-space: nowrap;
}

/* 提示时间格式文字 */

.time {
    position: absolute;
    top: 8px;
    left: 80%;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

/* tag标签 */

.el-tag {
    font-size: 13px;
}

/* 导航标签 */

.taghome {
    /* 不换行 */
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 10px;
}

/* 添加功能的所有按钮 */

.btn .el-button {
    width: 110px;
}

/* 更新随机id按钮 */

.btn .updateIdbtn {
    width: 115px;
}

/* 更新供应商编号按钮 */

.btn .updateS_id {
    width: 143px;
    margin-left: -17px;
}

/* 更新进货单号、销售单号、出货单号、退货单号按钮 */

.btn .updateOtherIdbtn {
    width: 130px;
    margin-left: -9px;
}

/* 重置按钮 */

.btn .resetbtn {
    margin-left: 80px;
}

/* 滚动条整体样式 */

::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    height: 16px;
}

/* 滚动条里面的小方块 */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

/* 滚动条里的轨道 */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ededed;
}